[Unit]
Description=Event dispatcher script for the Griffin Powermate nob

[Service]
Type=simple
ExecStart=/usr/bin/python3 ${HOME}/Softwares/PulseaudioScripts/Powermate/Dispatcher.py
Restart=on-failure

[Install]
WantedBy=default.target
